{% extends "base.html" %} {% block title %}Main{% endblock %}

{% block nav_link_chat %}class='active_nav'{% endblock%}

{% block content %}
<div class='main'>
    <div class='chat'>
        <div class='rooms'>
            <div class='rooms_header'>
                <h2>Chat</h2>
                <div style='display:flex; gap:1.5rem;'>
                    <i class="uil uil-users-alt room_icon" onclick="joinRoom()"></i>
                    <i class="uil uil-book-medical room_icon" onclick="createRoom()"></i>
                </div>
            </div>
            <ul id="roomList">
              {% for room in rooms %}
              <li class="list-each_room">
                <a href= "{{url_for('views.join_room_check', room_code = room.code , main_code=main_code )}}">
                <div><span class="room-code">{{room.code}}</span> <span class="room-name">{{room.name}}</span></div>
                </a>
              </li>
              {% endfor %}
            </ul>
        </div>

        <div class='chat_box' style='background-color: var(--fifth-color);'>
          <h1 style='font-size:25px; font-weight:500;color: #838383;'>Choose a Chat Room or create another Room</h1>
        </div>
    </div>
</div>


<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
<script>

  const socket = io({ autoConnect: false });

  

  function createRoom() {
    socket.connect();

    var roomName = prompt("Enter the room name:");
    var main_code = '{{main_code}}';

    socket.emit('create_room', {room_name: roomName, main_code: main_code });
    location.reload();
  }

  socket.on('room_creation_failed', (data) => {
    const errormessage = data.message;
    alert(errormessage);
  });

  function joinRoom() {
    socket.connect();
    var roomCode = prompt('Enter room code:');
    var mainCode = '{{main_code}}';

    socket.emit('handle_join_room', { room_code: roomCode, main_code: mainCode });
  }

  socket.on('redirect_to_join_room_check', function(data) {
    var mainCode = data.main_code;
    var roomCode = data.room_code;
    window.location.href = '/join_room_check/' + mainCode + '/' + roomCode;
  });

  // Handle event for room not found
  socket.on('room_not_found', (data) => {
    // Handle the event, e.g., display an error message
    const errormessage = data.message;
    alert(errormessage);
  });
</script>


{% endblock  %}