<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type=text/css href='../static/css/style.css'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/29d1beccf4.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <a href='#home'><img src='../static/image/logo.png'></a>

            <ul class='navlist'>
                <li><a href='#home'>HOME</a></li>
                <li><a href='#classes'>CLASSES</a></li>
                <li><a href='#services'>SERVICES</a></li>
                <li><a href='#'>OUR TEAM</a></li>
                <li><a href='#contact'>CONTACT</a></li>
            </ul>

            <div class='social-media'>
                <a href='#'><i class="fa-brands fa-facebook"></i></a>
                <a href='#'><i class="fa-brands fa-instagram"></i></a>
                <a href='#'><i class="fa-brands fa-twitter"></i></a>
            </div>
        </header>

        <section class='banner' id='home'>
            <div class='banner-content'>
                <p>BUILD YOUR BODY</p>
                <h1>TRAINING HARD</h1>
            </div>
        </section>    

        <section class='info'>
            <h3 class='sub-title-s'>Tại sao bạn nên chọn chúng tôi?</h3>
            <h1 class='sub-title-b'>PUSH YOUR LIMIT</h1>
            <div class='reason'>
                <div>
                    <i class="fa-solid fa-dumbbell"></i>
                    <h4>Professional program</h4>
                    <p>We have high quality personal trainer that can create a workout program which helps you to reach your goal and suits your level. Anything you have to do is just stick with it.</p>
                </div>
                <div>
                    <i class="far fa-apple-alt"></i>
                    <h4>Healthy diet</h4>
                    <p>Not only do we create for you a good program but we also provide you a balance and healthy diet that suits your goal. We can also give a knowledge of nutriction and food.</p>
                </div>

                <div>
                    <i class="fa-solid fa-bicycle"></i>
                    <h4>Morden facilities</h4>
                    <p>Our gym have every facilities that you can think. Having the mordenest equipment in the town which ensure the best your experience</p>
                </div>
            </div>
        </section>

        <section class='classes' id='classes'>
            <div class='khung'>
                <h3 class='sub-title-s'>ALL CLASSES</h3>
                <h2 class='sub-title-b'>WE CAN OFFER</h2>
                <div class='our-class'>
                    <div class='col-1'>
                        <div class='col-1-row-1'>
                            <img src='../static/image/bodybuilding.jpg'>
                            <h2>BODYBUILDING</h2>
                        </div>
                        <div class='col-1-row-2'>
                            <img src='../static/image/powerlifting.jpg'>
                            <h2>POWERLIFTING</h2>
                        </div>
                    </div>
                    <div class='col-2'>
                        <div class='col-2-row-1'>
                            <img src='../static/image/yoga.jpg'>
                            <h2>YOGA</h2>
                        </div>
                        <div class='col-2-row-2'>
                            <img src='../static/image/boxing.jpg'>
                            <h2>BOXING</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <section class='services' id='services'>
            <div class='khung'>
                <h3 class='sub-title-s'>CHOOSE YOUR OWN PLAN</h3>
                <h2 class='sub-title-b'>OUR COURSES</h2>
                <div class='course'>
                    <div>
                        <i class="fas fa-coins"></i>
                        <h3>COMMON CLASS</h3>
                        <h2>400.000vnd</h2>
                        <p>1 MONTH</p>
                        <ul>
                            <li>Personal trainer</li>
                            <li>Unlimited equipment</li>
                            <li>No restricted time</li>
                        </ul>
                    </div>
                    <div>
                        <i class="fas fa-coins"></i>
                        <h3>PREMIUM CLASS</h3>
                        <h2>400.000vnd</h2>
                        <p>1 YEAR</p>
                        <ul>
                            <li>Personal trainer</li>
                            <li>Unlimited equipment</li>
                            <li>No restricted time</li>
                            <li>Free yoga class</li>
                            <li>Hamman allowed</li>
                        </ul>
                    </div>
                    <div>
                        <i class="fas fa-coins"></i>
                        <h3>V.I.P CLASS</h3>
                        <h2>400.000vnd</h2>
                        <p>3 YEARS</p>
                        <ul>
                            <li>Personal trainer</li>
                            <li>Unlimited equipment</li>
                            <li>No restricted time</li>
                            <li>Free yoga class</li>
                            <li>Hamman allowed</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class='contact' id='contact'>
            <h2 class='title-b'>CONTACT</h2>
            <p class='title-s'>WHERE YOU CAN CONTACT US</P>
            <div class='mail'>
                <div>
                    <p><i class="fas fa-paper-plane"></i>gymmail@gmail.com</p>
                    <p><i class='fas fa-phone'></i>0814846155</p>
                    <div class='social-media'>
                        <a href='https://www.facebook.com/vantho.ong.33'><i class='fa-brands fa-facebook'></i></a>
                        <a href=''><i class='fa-brands fa-instagram'></i></a>
                        <a href=''><i class='fa-brands fa-twitter'></i></a>
                    </div>
                </div>
                <div class='input-user'>
                    <form>
                        <input type='text' placeholder='Your email' required>
                        <input type='text' placeholder='Your name' required>
                        <textarea type='text' placeholder='Content' required></textarea>
                        <button type='submit'>SEND</button>
                    </form>
                </div>
            </div>
        </section>
        <script src="" async defer></script>
    </body>
</html>
