<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <title>Management tool</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    </head>
    <body>
        <header>
            <div class='nav ' id='nav'>
                <ul class='nav_list'>
                    <li class='nav_link'><a href='#home'>Home</a></li>
                    <li class='nav_link'><a href='#tool'>Feature</a></li>
                    <li class='nav_link'><a href='#how'>How to use</a></li>
                    <li class='nav_link'><a id='btn'>SignUp</a></li>
                    <li class='nav_link '><a class='login' href='/login'>Login</a></li>
                </ul>
            </div>
        </header>
        <div class='main_home'>
            <div class='home section' id='home'>
                <div class='home_container container'>
                    <div class='home_content'>
                        <h1 class='home_title '>MANGAE YOUR WORK</h1>
                    </div>
                    <div class='home_flag'>
                        <h3 class='home_flag_title'>What is it?</h3>
                        <p class='home_flag_description'>This website was created by Van Tho as a project. It can be used as a tool that can help people to manage and classify work</p>
                    </div>
                </div>
            </div>

            <div class="tool section" id='tool'>
                <h1 class='section_title'> We provide various features</h1>
                <div class="tool_container container">
                    <div class="tool_content grid">
                        <div class="tool_data tool_col-1">
                            <h3 class='tool_col_title'><i class="uil uil-users-alt"></i>User and Access Management</h3>
                            <p class='tool_description'>The website allows administrators to manage user accounts, roles, and permissions. This feature ensures proper access control, enabling administrators to define who can perform specific actions or access certain data within the system.</p>
                        </div>

                        <div class="tool_data tool_col-2">
                            <h3 class='tool_col_title'><i class="uil uil-comments-alt"></i> Data and Content Management</h3>
                            <p class='tool_description'> The website provides tools for managing and organizing data and content. This includes features such as creating, editing, and deleting records, uploading and managing files, organizing data into categories or folders, and implementing search and filtering functionalities to quickly locate information.</p>
                        </div>

                        <div class="tool_data tool_col-1">
                            <h3 class='tool_col_title'><i class="uil uil-server-network-alt"></i>Task and Project Management </h3>
                            <p class='tool_description'>The website offers features to track and manage tasks, projects, and workflows. This can include creating and assigning tasks, setting due dates, monitoring progress, collaborating with team members, and generating reports or analytics to track productivity and performance.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class='how section' id='how'>
                <h1 class='section_title'>Instruction</h1>
                <h3 class='section_subtitle'>How to register and login</h3>
                <div class='how_container container'>
                    <div class='how_img_container'>
                        <img class='how_img' src='../static/image/HowSection.png'>
                        <img class='how_img' src='../static/image/HowSection1.png'>
                        <img class='how_img' src='../static/image/HowSection2.png'>
                    </div>
                </div>
            </div>
        </div>

        <div class='popup_container'>
            
            <div class='popup_content'>
                <h3 class='popup_title'>Who are you?</h3>
                <i class="uil uil-times" id='close_btn' ></i>
                <div class='popup_data'>
                    <a class='popup_role'href="/signup?role=manager">
                        <i class="uil uil-user-md" id='popup-icon'></i>
                        <h3 class='popup_role_title'>Manager</h3>
                    </a>

                    <a class='popup_role' href="/signup?role=employee">
                        <i class="uil uil-user" id='popup-icon'></i>
                        <h3 class='popup_role_title'>Employee</h3>
                    </a>
                </div>
            </div>
        </div>
        <script src="../static/js/script.js" async defer></script>
        <script src="../static/js/reveal.js" async defer></script>
    </body>
</html>