{% extends "base.html" %} {% block title %}Main{% endblock %}

{% block nav_link_task %}class='active_nav'{% endblock%}

{% block content %}
<div class='main'>
    <div class='main_container container grid' style='gap:0.5rem'>
        <div class='main_header'>
            <h2 class='title'>My tasks<span style='color: #888;font-size: 0.75rem;margin-left:1.5rem;'> Room code: {{main_code}}</span></h2>
            <div style='display:flex;'>
                <i class="uil uil-plus-circle my_tasks_add"id='btn'></i>
            </div>
        </div>
        <div class='tasks_display grid'>
            <div>
            {% for task in tasks %}
                
                
                {% if current_user in task.employees_task %}
                <div class='task' style='gap:2rem'  data-task-id='{{task.id}}'>
                    <div style='width:200px;flex:1; overflow:hidden; text-overflow:ellipsis;'>
                        <h2>{{task.title}}</h2>
                        <p>{{task.content}}</p>
                    </div>
                    <div style='flex-shrink:0;'>
                        <p> By: {{task.task_giver.username}}</p>
                        <p>Complete by: <i class="uil uil-schedule"></i>{{ task.endDate.strftime('%Y-%m-%d')}}</p>
                    </div>
                </div>  
                {% endif %}
                           
            {% endfor %}
            </div>

            <div>
                <div class='task_given'>
                    <h2>The tasks you gave:</h2>
                    <ul style='margin-top:15px'>
                    {% for task in tasks %}
                        {% if task.task_giver == current_user %}
                            <li class='task_given_list'>
                                <div class='col-1'>
                                    {{ task.title }} 
                                    <i id='task_given_btn' class="uil uil-bars task_menu_icon"></i>
                                    <div class="task_menu">
                                        <a id='task_view_btn' data-task-id='{{task.id}}' >View</a>
                                        <a href="{{url_for('views.delete_task', task_id= task.id, main_code=main_code)}}" id='task-delete'>Delete</a>
                                    </div>
                                </div>
                                {% if task.is_complete %}
                                <p style='color:#ff04b0'>Completed!</p>
                                {% else %}
                                <p style='color:#ccc'>In processing...</p>
                                {% endif %}
                                
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>

                <div class='task_given task_completed'>
                    <h2>Your completed tasks</h2>
                    <ul style='margin-top:15px'>
                    {% for task in tasks %}
                        {% if current_user in task.employees_task and task.is_complete %}
                        <li class='task_completed_list'>
                            {{task.title}}
                            <a class='undo_btn' href="{{url_for('views.undo_completed_task', task_id=task.id, main_code=main_code)}}">Undo</a>
                        </li> 
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>



<div class='new_project_popup_container popup_container'>
    <div class='new_project_data'>
        <form action="{{url_for('views.new_tasks', main_code=main_code)}}" method='POST' class='new_project_form'>
            <div class="form-header">
                <h1 class="form-title">New Task</h1>
                <i class="uil uil-times" id='close_btn' ></i>
            </div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
            <br>
            <label for="content">Content:</label>
            <textarea id="content" name="content" required></textarea>
            <br>
            <div>
                <label for='member'>Members:</label>
                <ul class='project_member_selector'>
                    {% for user in users %}
                    <li>
                        <input type="checkbox" name="users" value="{{ user.id }}" id="user">
                        <label style='margin-left:10px' for="user">{{ user.username }}</label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div style='display:flex;margin-top: 10px;gap: 12px;'>
                <label for="endDate">End Date:</label>
                <input type="date" id="endDate" name="endDate" required>
            </div>
            <br>
            <input type="submit" value="Save">
        </form>
    </div>
</div>

<div class="popup_container task_detail_popup_container">
    <div class='popup_content' id='task_detail_popup'>
    </div>
</div>


<!-------Display popup------>
<script type="text/javascript">
    let tasks = document.querySelectorAll('.task')
    let detailPopup = document.getElementById('task_detail_popup');
    const task_detail_popup_container = document.querySelector('.task_detail_popup_container')
    
    let main_code = '{{main_code}}'


    tasks.forEach(function(task) {
        task.addEventListener('click', function(e){
            var taskTitle = this.querySelector('h2').textContent;
            var taskContent = this.querySelector('p').textContent;
            ///Displaying the task in details
            detailPopupCreate(taskTitle, taskContent)
            task_detail_popup_container.classList.add('active');

            ///Close BTN popup
            const taskClosePopup = document.querySelector('.task_close_btn');

            taskClosePopup.onclick = function() {
                task_detail_popup_container.classList.remove('active');
            }
            ///Complete BTN popup
            const taskComplete = document.querySelector('#complete-icon');

            taskComplete.onclick = function() {
                completeTasks(task.getAttribute('data-task-id'), main_code);
                location.reload();
            }
        });
    });


    function detailPopupCreate(taskTitle, taskContent) {
        const content = `
        <div class="task_detail_popup_data">
            <h2>${taskTitle}</h2> <i class="uil uil-times task_close_btn" id='close_btn' style='left: 97%;'></i> <i class="uil uil-check" id='complete-icon'></i>
            <p>${taskContent}</p>
        </div>`

        detailPopup.innerHTML = content;
    }

    function completeTasks(task_id, main_code) {
        fetch('/complete_task', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({task_id: task_id, main_code: main_code}),
        })
    }
</script>


<!-----Task given btn---------->
<script type="text/javascript">
    let tasksGiven = document.querySelectorAll('.task_given_list');
    let taskMenu = document.querySelectorAll('.task_menu');

    tasksGiven.forEach((taskGiven,i) => {
        let btn = taskGiven.querySelector('#task_given_btn');
        let menu = taskGiven.querySelector('.task_menu');

        btn.addEventListener('click', function() {
            menu.classList.toggle('active');
        });

        // Close the menu when clicking outside
        document.addEventListener('click', function (e) {
            if (!taskGiven.contains(e.target)) {
                menu.classList.remove('active');
            }
        });

        let taskViewBTn= document.querySelector('#task_view_btn');

        taskViewBTn.addEventListener('click', function() {
            let task_id = this.getAttribute('data-task-id');
            taskView(task_id);
            task_detail_popup_container.classList.add('active');

            taskClosePopup.onclick = function() {
                task_detail_popup_container.classList.remove('active');
            }

        });

    })

    function taskView(task_id){
        fetch('/task_view_handler', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({task_id: task_id}),
        })
        .then(response => response.json())
        .then(data => {
            taskTitle = data.title
            taskContent = data.content
            endDate = data.endDate

            const content = `
            <div class="task_detail_popup_data">
                <h2>${taskTitle}</h2> <i class="uil uil-times task_close_btn" id='close_btn' style='left: 97%;'></i> <i class="uil uil-check" id='complete-icon'></i>
                <p>${taskContent}</p>
            </div>`

            detailPopup.innerHTML = content;
            
        })
    }
</script>

<!-----Task View------>
<script type="text/javascript">

</script>
{% endblock  %}
